<html>
<body>
<form method="post" action="/pay">
  <label for="name">First name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="purpose">Purpose</label><br>
  <input type="text" id="purpose" name="purpose"><br>
  <label for="amount">Amount</label><br>
  <input type="text" id="amount" name="amount"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
